<div class="overlay">

  <p class="product-info">GROOVE control music, movie, LED while dansing.</p>
  <img src="{{ site.url }}/images/slide.png">

  <p class="product-info">GROOVE device equip sensor and LED. Sensor value is sent to GROOVE APP.</p>
  <img src="{{ site.url }}/images/slide2.png">

  <p class="product-info">GROOVE APP control music and movie accrding to sensor value.</p>
  <img src="{{ site.url }}/images/slide3.png">
  
  <ul class="projects-menu">
    {% for item in site.data.projects %}
      {% capture image %}{{ item.image }}{% endcapture %}
      {% unless image contains 'http://' or image contains 'https://' %}
      {% capture image %}{{ site.url }}/{{ image }}{% endcapture %}
      {% endunless %}
      <li style="background:url({{ image }}) center center no-repeat;">
        <a {% unless item.completed %}class="inactive"{% endunless %} target="_blank" rel="nofollow external">
          <span>
            {{ item.title }}
            {% unless item.completed %}
            <br><em>Work In Progress</em>
            {% endunless %}
          </span>
        </a>
        </li>
    {% endfor %}
  </ul>
</div>
