---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
  <body id="posts">

    <div class="block-left">
      <div class="content">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo | replace: '.', '-small.' }}"></a>
        <h1 class="section-title">{{ page.title}}<em>/</em>
        </h1>
      </div>
    </div>

    <div class="block-right">
      <a href="teams.html" title="teams" class="posts-menu-icon"></a>
      <a title="projects" class="projects-menu-icon">
        <span></span>
      </a>
      <div class="content">
        <ul class="posts-list">
          <li>
            <h2>
                <span>Shinnosuke Komiya</span>
              </a>
            </h2>
            <p>I have design I have engineering .... Ahh!....Design Engineer</p>
            <ul class="tags">
              <li>UI/UX Design</li>
              <li>Hardware</li>
              <li>iOS</li>
              <li>Web Frontend</li>
              <li>Web Backend</li>
              <li>Dance</li>
            </ul>
          </li>
        </ul>
        <ul class="posts-list">
          <li>
            <h2>
                <span>Kazunori Hori</span>
              </a>
            </h2>
            <p>My hobby is making fire</p>
            <ul class="tags">
              <li>Hardware</li>
              <li>Electronics</li>
              <li>Mechanics</li>
            </ul>
          </li>
        </ul>
        <ul class="posts-list">
          <li>
            <h2>
                <span>Shin Kanouchi</span>
              </a>
            </h2>
            <p>Volleyball...Volleyball...</p>
            <ul class="tags">
              <li>ML</li>
              <li>DNN</li>
              <li>Hardware</li>
            </ul>
          </li>
        </ul>
        <ul class="posts-list">
          <li>
            <h2>
                <span>Masatoshi Takara</span>
              </a>
            </h2>
            <p>Party...Party...</p>
            <ul class="tags">
              <li>Hardware</li>
              <li>Business</li>
            </ul>
          </li>
        </ul>
        <ul class="posts-list">
          <li>
            <h2>
                <span>Yuta Ide</span>
              </a>
            </h2>
            <p>MeowMeow</p>
            <ul class="tags">
              <li>Web Frontend</li>
              <li>Web Backend</li>
              <li>Open Frameworks</li>
              <li>Media Art</li>
            </ul>
          </li>
        </ul>
        <ul class="posts-list">
          <li>
            <h2>
                <span>Masaya Tsuruta</span>
              </a>
            </h2>
            <p>BowWow</p>
            <ul class="tags">
              <li>iOS</li>
              <li>Media Art</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    {% include overlay.html %}
    {% include scripts.html %}
  </body>
</html>
